---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home Page">
  <div class="h-screen flex flex-col items-center justify-center">
    <div
      class="border border-custom-button rounded-3xl px-3 py-1 text-custom-text"
    >
      Shashank Adhikari
    </div>
    <div class="md:text-15xl text-8xl font-light leading-none mb-4">
      Persona
    </div>
    <div class="text-3xl font-extralight mb-4">( Frontned Developer )</div>
    <div class="uppercase font-light text-xs mb-12">Butwal, Nepal</div>
    <div class="text-center w-2/3 font-normal mb-8">
      Meet Shashank Adhikari, a creative Frontend Developer from the vibrant
      country of Nepal. With a keen eye for design and a deep understanding of
      technologies, Shashank brings ideas to life with his magic touch, infusing
      them with a soul and making them dance to his code. He is a true
      collaborator, always eager to engage with others. For Shashank, web
      development is not just a job, it's a passion. He is constantly seeking
      out new challenges and opportunities to push the boundaries of what's
      possible and make a meaningful impact in the industry.
    </div>
    <div class="flex gap-3 text-white">
      <ion-icon
        class="bg-custom-button p-2 text-lg rounded-full"
        name="logo-instagram"></ion-icon>
      <ion-icon
        class="bg-custom-button p-2 text-lg rounded-full"
        name="logo-linkedin"></ion-icon>
      <ion-icon
        class="bg-custom-button p-2 text-lg rounded-full"
        name="logo-facebook"></ion-icon>
    </div>
  </div>
</Layout>
