---
import Layout from "../layouts/Layout.astro";
import GSATHOME from "/Portfolio/gsAtHome.png";
import WAYMANDU from "/Portfolio/Waymandu.png";
import BurgerHouse from "/Portfolio/BurgerHouse.png";
import DrStory from "/Portfolio/DrStory.png";
---

<Layout title="Home Page">
  <div class="mt-20 h-screen">
    <div class="h-3/5 flex flex-col items-center justify-center">
      <div
        class="border border-custom-button rounded-3xl px-3 py-1 text-custom-text"
      >
        3+ years of experience
      </div>
      <div class="md:text-12xl text-6xl font-light leading-none mb-4">
        Featued Clients
      </div>
      <div class="md:text-3xl text-lg font-extralight mb-8">
        (Full-stack Frontned Developer )
      </div>
      <div class="flex gap-3 text-white">
        <ion-icon
          class="bg-custom-button p-2 text-lg rounded-full"
          name="logo-instagram"></ion-icon>
        <ion-icon
          class="bg-custom-button p-2 text-lg rounded-full"
          name="logo-linkedin"></ion-icon>
        <ion-icon
          class="bg-custom-button p-2 text-lg rounded-full"
          name="logo-facebook"></ion-icon>
      </div>
    </div>
    <div class="flex flex-col gap-10 px-8">
      <div class="grid md:grid-cols-3 gap-10 md:gap-0">
        <div class="md:col-start-1 md:col-end-2">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <img class="rounded-lg object-cover" src={GSATHOME} alt="" />
          </div>
        </div>
        <div class="md:col-start-3 md:col-end-4">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <img class="rounded-lg object-cover" src={WAYMANDU} alt="" />
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-6">
        <div class="col-start-3 col-end-5">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <img class="rounded-lg object-cover" src={DrStory} alt="" />
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-3 mb-32">
        <div class="col-start-3 col-end-4">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <img class="rounded-lg object-cover" src={BurgerHouse} alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
