---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import GSATHOME from "../images/Portfolio/gsAtHome.png";
import WAYMANDU from "../images/Portfolio/Waymandu.png";
import BurgerHouse from "../images/Portfolio/BurgerHouse.png";
import DrStory from "../images/Portfolio/DrStory.png";
---

<Layout title="Home Page">
  <div class="mt-20 h-screen">
    <div class="h-3/5 flex flex-col items-center justify-center">
      <div
        class="border border-custom-button rounded-3xl px-3 py-1 mb-6 text-custom-text text-sm md:text-base"
      >
        3+ years of experience
      </div>
      <div class="md:text-12xl text-6xl font-light leading-none mb-4">
        Featured Clients
      </div>
      <div class="md:text-3xl text-xl font-extralight mb-8">
        (Full-stack Frontend Developer )
      </div>
      <div class="flex gap-3 text-white">
        <a href="https://www.instagram.com/estoy_shashank/" target="_blank">
          <ion-icon
            class="bg-custom-button p-2 text-lg rounded-full"
            name="logo-instagram"></ion-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/shashank-adhikari-aa28931b5/"
          target="_blank"
          ><ion-icon
            class="bg-custom-button p-2 text-lg rounded-full"
            name="logo-linkedin"></ion-icon></a
        >
        <a href="https://www.facebook.com/shashankwiths/" target="_blank">
          <ion-icon
            class="bg-custom-button p-2 text-lg rounded-full"
            name="logo-facebook"></ion-icon>
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-10 px-8">
      <div class="grid md:grid-cols-3 gap-10 md:gap-0">
        <div class="md:col-start-1 md:col-end-2">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <Image
              class="rounded-lg object-cover"
              src={GSATHOME}
              alt="GS-AtHome"
            />
          </div>
        </div>
        <div class="md:col-start-3 md:col-end-4">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <Image
              class="rounded-lg object-cover"
              src={WAYMANDU}
              alt="Waymandu"
            />
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-6">
        <div class="col-start-3 col-end-5">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <Image
              class="rounded-lg object-cover"
              src={DrStory}
              alt="DrStory"
            />
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-3 mb-32">
        <div class="col-start-3 col-end-4">
          <div
            class="rounded-lg border-2 border-custom-accent bg-gs-athome drop-shadow-10xl"
          >
            <Image
              class="rounded-lg object-cover"
              src={BurgerHouse}
              alt="BurgerHouse"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
